/* html{
  height: 200%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow-y: auto;
} */
html{
  height: 1100px;
}

body{
  max-height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  
}

.water {
fill: #00248F;
cursor: move;
}

.land {
fill: #A98B6F;
stroke: #FFF;
stroke-width: 0.7px;
cursor: move;
}

.land:hover {
fill:#33CC33;
stroke-width: 1px;
}

.focused {
fill: #33CC33;
}

select {
position: absolute;
top: 100px;
left: 580px;
border: solid #ccc 1px;
padding: 3px;
box-shadow: inset 1px 1px 2px #ddd8dc;
}

.countryTooltip {
position: absolute;
display: none;
background: #fff;
padding: 5px;
text-align: left;
border: solid #ccc 1px;
color: #666;
font-size: 14px;
font-family: sans-serif;
}

.chartTooltip {
position: absolute;
display: none;
background: #fff;
padding: 0px;
text-align: left;
border: solid #ccc 1px;
color: #666;
font-size: 14px;
font-family: sans-serif;
}

.navbar-header {
  float: left;
  padding: 15px;
  text-align: center;
  width: 100%;
}
.navbar-brand {float:none;}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

.chartT{
  top: 250px;
  left: 700px;
  position: absolute;  
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  
}

#closeBtn {
  float: right;
}